*{

margin:0;
padding:0;
box-sizing:border-box;
font-family:Inter,sans-serif;

}

body{

background:#0f0f10;
color:white;

display:flex;

justify-content:center;

align-items:center;

height:100vh;

}

.card{

background:#1b1b1b;

padding:50px;

border-radius:24px;

text-align:center;

width:450px;

box-shadow:0 20px 50px rgba(0,0,0,.45);

}

.spinner{

width:70px;

height:70px;

border-radius:50%;

border:7px solid #333;

border-top:7px solid #d92d2d;

margin:auto;

animation:spin 1s linear infinite;

margin-bottom:25px;

}

@keyframes spin{

100%{

transform:rotate(360deg);

}

}

h1{

margin-bottom:15px;

}

p{

color:#aaaaaa;

}